<!-- resume.jinja -->
<article class="resume" data-page="resume">

  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">

      {% for education in resume.education | reverse %}

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{education.title}}

        <span style="float:right;">{{education.timeline}}</span>
        <p class="timeline-text">
          {{education.discipline}}
        </p>
        </h4>

        <p class="timeline-text">
          {{education.description}}
        </p>

      </li>

      {% endfor %}

    </ol>

  </section>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Research Experience</h3>
    </div>

    <ol class="timeline-list">

      {% for research in resume.research | reverse %}

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{research.title}}

        <span style="float:right;">{{research.timeline}}</span>

        <p class="timeline-text" style="color:var(--vegas-gold)">
          {{research.institution}} - {{research.supervisor}}
        </p> </h4>

        <p class="timeline-text"> {{research.description}} </p>
        <ul>
          {% for bullet in research.bullets %}
            <li> <p class="timeline-text"> - {{bullet}} </li>
          {% endfor %}
        </ul>

      </li>

      {% endfor %}

    </ol>

  </section>


  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Work Experience</h3>
    </div>

    <ol class="timeline-list">

      {% for work in resume.work | reverse %}

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{work.title}}, {{work.company}}

        <span style="float:right;">{{work.timeline}}</span>

        <p class="timeline-text" style="color:var(--vegas-gold)">
          {{work.city}}, {{work.country}}
        </p> </h4>

        <p class="timeline-text"> {{work.description}} </p>
        <ul>
          {% for bullet in work.bullets %}
            <li> <p class="timeline-text"> - {{bullet}} </li>
          {% endfor %}
        </ul>

      </li>

      {% endfor %}

    </ol>

  </section>

  <!-- Languages 
  {% if resume.languages.enabled %}
  <section class="skill">

    <h3 class="h3 skills-title">{{resume.languages.title}}</h3>

    <ul class="skills-list content-card">

      {% for language in resume.language %}

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">{{language.title}}</h5>
          {% if resume.languages.show_value %}
          <data value="{{language.value[:-1]}}">{{language.value}}</data>
          {% endif %}
        </div>
        {% if resume.languages.show_bar %}
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: {{language.value}};"></div>
        </div>
        {% endif %}
      </li>

      {% endfor %}

    </ul>

  </section> -->


  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Freelance Projects</h3>
    </div>

    <ol class="timeline-list">

      {% for freelance in resume.freelance | reverse %}

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{freelance.title}}

        <span style="float:right;">{{freelance.timeline}}</span>

        <p class="timeline-text" style="color:var(--vegas-gold)">
          {{freelance.city}}, {{freelance.country}}
        </p> </h4>

        <p class="timeline-text"> {{freelance.description}} </p>
        <ul>
          {% for bullet in freelance.bullets %}
            <li> <p class="timeline-text"> - {{bullet}} </li>
          {% endfor %}
        </ul>

      </li>

      {% endfor %}

    </ol>

  </section>


  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Teaching Experience</h3>
    </div>

    <ol class="timeline-list">

      {% for teaching in resume.teaching | reverse %}

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{teaching.title}}

        <span style="float:right;">{{teaching.timeline}}</span>

        <p class="timeline-text" style="color:var(--vegas-gold)">
          {{teaching.supervisor}}
        </p> </h4>
      </li>
      
      {% endfor %}

    </ol>
  <br>
  {% endif %}

  
  <section class="timeline">
      <div class="title-wrapper">
          <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
          </div>
          <h3 class="h3">Certificates</h3>
      </div>
      <ol class="timeline-list">
          <ul class="clients-list has-scrollbar">
              {% for certificate in resume.certificate %}
                <li class="clients-item">
                    <a href="{{ certificate.url }}" target="_blank">
                        <img src="{{ certificate.image }}" alt="client logo">
                    </a>
                    <p class="service-item-text">
                        {{ certificate.title }}
                    </p>
                </li>
              {% endfor %}
          </ul>
      </ol>
  </section>


  <!-- My Skills 

  {% if resume.skills.enabled %}
  <section class="skill">

    <h3 class="h3 skills-title">{{resume.skills.title}}</h3>

    <ul class="skills-list content-card">

      {% for skill in resume.skill %}

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">{{skill.title}}</h5>
          {% if resume.skills.show_value %}
          <data value="{{skill.value[:-1]}}">{{skill.value}}</data>
          {% endif %}
        </div>
        {% if resume.skills.show_bar %}
        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: {{skill.value}};"></div>
        </div>
        {% endif %}
      </li>

      {% endfor %}

    </ul>

  </section>
  {% endif %} -->

</article>